@font-face {
    font-family: titleFont;
    src: url(../static/fonts/space_age/space%20age.otf);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

html {
    background-color: #000000;
    background-image: url(../static/img/battleBackground.jpg);
    background-size: cover;
}

h1, footer {
    text-align: center;
    color: #ffffff;
    font-family: titleFont;
}

h1 {
    font-size: 40px;
}

#gameContainer {
    height: 600px;
    width: 600px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 4px double;
    border-color: #00bfff;
}

#gameCanvas {
    width: 100%;
    height: 100%;
    background-color: #363535;
    background-image: url(../static/img/spaceBackground.jpg);
    background-size: cover;
}